// variables.scss

// Colores
$white: #ffffff;
$black: #333;
$bg-gray: #f4f4f4;
$border-color: #ccc;
$hover-gray: #555;

// Tamaños para media queries
$desktop_size: 1024px;
$tablet_size: 768px;
$phone_size: 480px;
