body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.sectionContact {
    background-color: #444;
    color: white;
    padding: 10px 0;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.contact a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.sectionSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.sectionSearch {
    background-image: url(img/abstract-concrete-floor-white-wall-texture-rough-background-white-paper-texture-background-old-cement-grunge-background-with-white-empty-modern-distressed-vintage-grunge-texture-vector.jpg);
    background-size: cover;
    background-position: center;
}

.sectionSearch>div {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.logo img {
    height: 200px;
}

.searcher {
    width: 800px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 20px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

button img {
    height: 45px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 0;
}

.sectionProductos {
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.guitarButton {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.guitarButton:hover {
    background-color: #555;
}

/* Estilos para el grid de productos */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;               /* Activar flexbox */
    flex-direction: column;      /* Alinear los elementos en columna */
    align-items: center;         /* Centrar horizontalmente */
    text-align: center;          /* Centrar el texto */
}

.card img {
    width: auto;                /* Ancho automático */
    max-width: 100%;           /* Asegurar que no exceda el ancho del contenedor */
    height: auto;              /* Mantener proporción */
    border-radius: 8px;
}

.card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.card p {
    font-size: 1rem;
    color: #555;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
