/* =============================
/* Estilos Generales             */
/* ============================= */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* ============================= */
/* Estilos del Encabezado        */
/* ============================= */
header {
  background-color: #333;
  color: white;
  padding: 0px;
}

.contactLeft {
  display: flex;
  justify-content: center;
}

.centrar-telefono {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
}

/* ============================= */
/* Sección de Contacto           */
/* ============================= */
/* .sectionContact {
  background-color: #333333;
  color: white;
  padding: 10px 0;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.contact a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
} */

/* ============================= */
/* Sección de Búsqueda           */
/* ============================= */
.sectionSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: white;
  background-image: url(img/abstract-concrete-floor-white-wall-texture-rough-background-white-paper-texture-background-old-cement-grunge-background-with-white-empty-modern-distressed-vintage-grunge-texture-vector.jpg);
  background-size: cover;
  background-position: center;
}

.sectionSearch > div {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.logo img {
  height: 200px;
}

.searcher {
  width: 800px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 20px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

button img {
  height: 45px;
}

/* ============================= */
/* Separador Horizontal           */
/* ============================= */
hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 0;
}

/* ============================= */
/* Sección de Productos          */
/* ============================= */
.sectionProductos {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.guitarButton {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.guitarButton:hover {
  background-color: #555;
}

/* ============================= */
/* Estilos de Cuadrícula         */
/* ============================= */
/* .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
} */

/* ============================= */
/* Sección "Sobre Nosotros"      */
/* ============================= */
.sobre-nosotros .lema,
.sobre-nosotros .texto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-wrap: balance;
}

.sobre-nosotros .lema img,
.sobre-nosotros .texto img {
  width: 900px;
  height: auto;
  border-radius: 10px;
}

.sobre-nosotros .lema div,
.sobre-nosotros .texto div {
  flex: 1;
}

/* ============================= */
/* Estilos para Tarjetas         */
/* ============================= */
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card h1 {
  font-size: 3em;
}

.card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.card p {
  font-size: 1rem;
  color: #555;
}

.card img {
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* ============================= */
/* Estilos para Listas           */
/* ============================= */
h3,
p,
li {
  font-size: 1.2em;
}

/* #aside {
    height: 60px;
    width: 60px;
    position: absolute;
    top: calc(50% - 250px);
    right: 7%;
} */

#aside model-viewer {
  margin-top: 100px;
  margin-left: 50px;
  height: 160px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}
